<br>
<div class="row">
    <div class="col-md-2"><h3>Movie Search App:</h3></div>
    <div class="col-md-10">
        <img src="view/images/movie/movie1.jpg" height="90px" width="950px" style="border-radius: 25px;">
        <br>
        <p>This app lets you search through the OMDB Api to find other movies, series, and episodes that released with the same year and name.</p>
        <img src="view/images/movie/movie2.jpg" height="90px" width="950px" style="border-radius: 25px;">
        <br><br>
        <img ng-src="view/images/movie/movie3.jpg" height="160px" width="950px" style="border-radius: 25px;">
        <p>Laid out in symmetrical columns, it shows you everything in your search specifications.</p>
    </div>
</div>
<hr style="border: 1px solid white;">
<div class="row">
    <div class="col-md-2"><h3>Car Inventory App:</h3></div>
    <div class="col-md-10">
        <img src="view/images/carApp/car1.png" height="320px" width="950px" style="border-radius: 25px;">
        <br>
        <p>Makes a nice and easy to use inventory app. You could easily change some words to make it anything that you would need.</p>
        <img src="view/images/carApp/car2.png" height="360px" width="950px" style="border-radius: 25px;">
    </div>
</div>
<hr style="border: 1px solid white;">
<div class="row">
    <div class="col-md-2"><h3>Employee App:</h3></div>
    <div class="col-md-10">
        <img src="view/images/employee/Employee1.png" height="90px" width="950px" style="border-radius: 25px;">
        <br><p>This app lets you create a list of employees along with their title and salary.</p>
        <img src="view/images/employee/employee2.png" height="90px" width="950px" style="border-radius: 25px;">
        <br><br>
        <img src="view/images/employee/employee3.png" height="90px" width="950px" style="border-radius: 25px;">
        <p>When you add all the people you want to add you can click on the "Print all to console" button and see everyone you added.</p>
    </div>
</div>
<hr style="border: 1px solid white; ">
<div class="row">
    <div class="col-md-2"><h3>Shopping list:</h3></div>
    <div class="col-md-10">
        <img src="view/images/shopping1.png" height="80px" width="950px" style="border-radius: 25px;">
        <br><p>This lets you add and delete items to a list.</p>
        <img src="view/images/shopping2.png" height="250px" width="950px" style="border-radius: 25px;">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-2"><h3></h3></div>
    <div class="col-md-10">
        <img src="">
        <br><br>
        <img src="">
    </div>
</div>