<br>
<div class="row">
    <div class="col-md-3">
    <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpa1/t31.0-8/p960x960/11221910_1083673064993601_7579802498537884992_o.jpg" height="300px" class="img-circle">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <br>
        <p>
        &nbsp;&nbsp; Hello there, I am Zachary(Zach) Brown. I'm a student at coding campus studying front-end web development. I'm a big gamer and I play everything from turn based strategy games, to Mario games. I hope one day to work for a company called Rooster Teeth as a front-end developer. I want to work for them because it is the type of work enviroment that has fun with each other but also gets their work done on time. Plus, they play games at work.
    </p>
        <h3>Email:</h3><p><a href="mailto:zachwbrown17@gmail.com?">Zachwbrown17@gmail.com</a></p>
        <h3>Resume:</h3><p><a href="https://docs.google.com/document/d/1OyrE0NcdP02qZdgl50ERnCosQ5GgBgnjUvWKkZmkI0o/edit?usp=sharing" target="_blank">Download</a></p>
        
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <h1>Linkedin</h1>
        <a href="https://www.linkedin.com/in/zach-brown-1b5a88b2?trk=nav_responsive_tab_profile_pic" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" height="200px">
        </a>
    </div>
    <div class="col-md-4">
        <h1>Facebook</h1>
        <a href="https://www.facebook.com/zack.brown.980" target="_blank">
        <img src="https://www.facebookbrand.com/img/fb-art.jpg">
        </a>    
    </div>
    <div class="col-md-4">
        <h1>GitHub</h1>
        <a href="github.com/zbrown17">
            <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" height="200px" style="border-radius:25px;">
        </a>
    </div>
</div>
<br>