<style>
    img {
        border-left: solid red;
    }
</style>


<header>
        <div class="container-fluid nav">
            <ul>
                <div class="home"> <a href="#/home"><li style="float: left;">Home</li></a></div>
                <div class="help"> <a><li>Help</li></a></div>
                <div class="blog"> <a href="#/blog-post"><li>Blog</li></a></div>
                <div class="projects"> <a href="#/projects"><li>Projects</li></a></div>
                <div class="post"> <a href="#/post"><li>New Post</li></a></div>
            </ul>
        </div>
    </header>  


<div class="conatiner top" style="text-align:center">
    <h1>Choose your character</h1>
<div class="row">
    <div class="col-md-3"> 
        <h2>Movies</h2>
       <a href="#/movies"> <img src="http://us.123rf.com/450wm/konstantinks/konstantinks1411/konstantinks141100468/33816780-video-camera-button-on-white-background-vector-illustration.jpg" height="250px" class="img-circle"> </a>
    </div>
    
    <div class="col-md-3"> 
        <h2>Games</h2>
        <a href="#/games"> <img src="http://us.123rf.com/450wm/myvector/myvector1201/myvector120103445/12124553-vector-illustration-of-single-isolated-video-game-icon.jpg" height="250px" width="250px" class="img-circle"> </a>
    </div>
    
    <div class="col-md-3"> 
        <h2>T.V</h2>
        <a href="#/shows"> <img src="http://previews.123rf.com/images/mousemd/mousemd1405/mousemd140500449/28769332-Illustration-of-retro-tv-Stock-Vector-tv.jpg" height="250px" class="img-circle"> </a>
    </div>
    <div class="col-md-3">
        <h2>Cool Stuff</h2>
        <a href="#/stuff"> <img src="http://previews.123rf.com/images/ramcreative/ramcreative1502/ramcreative150200024/37178408-Interaction-hands-using-keyboard-and-mobile-applications-on-screen-Internet-analytics-work-in-networ-Stock-Vector.jpg" height="250px" class="img-circle"> </a>
    </div>
</div>
</div>

<input type="text" ng-model="username"><input type="text" ng-model="password">
<button class="btn" ng-click="login(username, password)">login</button>