<style>
    .image {
        text-align: center;
    }
    img {
        height: 400px;
        width: 750px;
        padding-bottom: 1.1em;
    }
    .content {
        text-align: justify;
    }
    .mains {
        background-color: white;
        border: solid black 1px;
        padding-top: 1.1em;
    }
    p {
        font-size: 20px;
        padding: 1.1em;
    }
    hr {
        border: solid white 1px;
    }
</style>

<!-- 
    KEY

<div class="container post">
    <div class="row image">
        <h1>title</h1>
        <h3>date</h3>
            <div class="col-md-12">
                <a href ng-click="gears = !gears"><img></a>
            </div>
    </div>
<hr>
    <div class="row content">
        <div class="col-md-2"></div>
            <div class="col-md-8 mains">
                <p ng-show="gears"></p>
            </div>
        <div class="col-md-2"></div>
    </div>
</div>    
<hr class="two">

-->
<header>
<div class="container-fluid nav">
    <ul>
        <div class="home"> <a href="#/home"><li style="float: left;">Home</li></a></div>
        <div class="blog"> <a href="#/blog-post"><li>Blog</li></a></div>
        <div class="projects"> <a href="#/projects"><li>Projects</li></a></div>
        <div class="movieNav"> <a href="#/movies"><li>Movies</li></a></div>
        <div class="gameNav"> <a href="#/games"><li>Games</li></a></div>
        <div class="showNav"> <a href="#/shows"><li>T.V</li></a></div>
        <div class="stuffNav"> <a href="#/stuff"><li>Stuff</li></a></div>
    </ul>
</div>
</header>

<br>
<div class="container post">
    <div class="row image">
        <h1>deadpool</h1>
        <h3>4-14-2016</h3>
        <div class="col-md-12">
            <a ng-click="gears = !gears">
            <img src="http://images-cdn.moviepilot.com/images/c_limit,h_1080,w_1920/t_mp_quality/dxjmqifk5ub8okxkrnhq/james-gunn-explains-why-deadpool-made-so-much-money-844407.jpg">
            </a>    
        </div>
    </div>
<hr>    
    <div class="row content">
        <div class="col-md-2"></div>
        <div class="col-md-8 mains">
            <p ng-show="gears">
                have you ever laughed at the opening credits of a movie? not what was going on in the movie, but just the words in the credits. after seeing deadpool i can actually answer yes to it. deadpool has been one of my favorite comic book characters for a few years now and i am happy that i was a fan while watching the development of the movie and eventually seeing the movie. <br><br>
                the development of this movie could be a movie in itself. but i wont get into that because you probably already know it! if you dont, just google it or something. <br><br>
                this movie was just simply entertaining. there wasnt a dull moment that i can remember (ill know more when i get on blu-ray) but i really enjoyed it. my favorite part was definitly after the big crash scene on the highway in the begining of the movie and deadpool opens the window and peaks his head up and just says "HEY!" all friendly like and starts to get shot at like crazy. it was so simple and for some reason i laughed at it everytime i thought about it. and that was quite often.<br><br>
                go see deadpool if you havent already and you dont mind a hard R rating 
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<br><br><br><br><br><br><br><br>