<div id="login">
    <hr>
    <h2 class="login-title">Login</h2>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="login">
                    <p class="login-warning" ng-show="failedLogin.message">{{failedLogin.message}}</p>
                    <input type="text" data-ng-model="username" placeholder="Username" />
                    <input type="password" data-ng-model="password" placeholder="Password" />
                    <input type="submit" value="Log In" ng-click="login(username, password)" class="btn btn-default btn-md" />
                </form>
            </div>
        </div>
    </div>
</div>