<div id="register">
    <hr>
    <h2 class="login-title">Register</h2>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="login">
                    <p class="login-warning" ng-show="badPassword.message">{{badPassword.message}}</p>
                    <p class="login-warning" ng-show="missingFields.message">{{missingFields.message}}</p>

                    <input type="text" placeholder="Username" ng-model="username"/>
                    <input type="text" placeholder="Email" ng-model="email"/>
                    <input type="password" placeholder="Password" ng-model="password"/>
                    <input type="password" placeholder="Confirm your Password" ng-model="passwordTwo" />
                    <input type="submit" value="Register" class="btn btn-default btn-md" ng-click="createUser(username, password, email, passwordTwo)"/>
                </form>
            </div>
        </div>
    </div>


</div>